/*!
 * Start Bootstrap - Blog Home (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    /*padding-top: 70px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar{
    border-width: 2px 0 0 0;
    border-color: red;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 13px;
}

.nav-container{
  padding-left: 25px;
  padding-right: 25px;
}

.logo{
  max-width: 100%;
  max-height: 100%;
}

.navbar-brand{
  height: 120px;
}

.navbar-inverse .navbar-nav>li>a{
  color: #ccc;
}

footer {
    margin: 50px 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    /* display: inline-block; */
    /* min-width: 1.5em; */
    /* padding: 0.5em 1em; */
    /* margin-left: 2px; */
    /* text-align: center; */
    /* text-decoration: none !important; */
    /* cursor: pointer; */
    /* color: #333 !important; */
    /* border: 1px solid transparent; */
    /* border-radius: 2px; */
}
